<h1 translate>Markets</h1>

<h2>Mandelieu</h2>
<p translate>Wednesday morning : Quartier des Termes <br/>Place des Combattants d’Indochine and d’Afrique du Nord <br/>City center (in front of Esterel Gallery) and at the parking Casinca (in front of Escota)</p>

<h2>Cannes La Bocca</h2>
<p translate>The Provencal market of Cannes La Bocca – From Tuesday until Sunday from 7h à 13h am – 7 Rue du Docteur Baloux</p>

<h2>Cannes</h2>
<ol>
    <li translate>The Nocturnes of Quai Saint Pierre – every Friday from 19h pm until midnight during the summer – Port de Cannes</li>
    <li translate>Provencal market of Forville – from Tuesday until Sunday from 7h à 13h30 am</li>
    <li translate>Provencal Market Gambetta – from Tuesday until Sunday from 7h à 13h am</li>
    <li translate>Flower kiosks – from Tuesday until Sunday from 7h à 13h30 am</li>
</ol>

<h2 translate>Flower kiosk</h2>
<p><translate>Address</translate>: Les allées de la Liberté, Allée de la Liberté, 06400 Cannes</p>

<h2>Antibes</h2>
<h3 translate>Artisanal market</h3>
<p><translate>Address</translate>: 1828 Cours Masséna, 06600 Antibes</p>
<p translate>Every Friday, Saturday and Sunday from 15h</p>

<h3 translate>Provencal market</h3>
<p><translate>Address</translate>: 1828 Cours Masséna, 06600 Antibes</p>
<p translate>Every morning from 6h until 13h </p>

<h2>Nice</h2>
<h3 translate>Flower market</h3>
<p><translate>Address</translate>: Cours Saleya, 06300 Nice</p>
<p translate>Tuesday until Sunday from : 06h00 – 17h30 (Sunday : 6h30-13h30)</p>