<h3 translate>The nautical center</h3>

<div class="nautical-center">
    <h3 translate>Opening hours</h3>
    <p translate>Open every day, the whole year (from 7h-19h)</p>

    <h3 translate>Address</h3>
    <p>Centre nautique de Mandelieu-La Napoule office de tourisme et d’animation, Avenue du Général de Gaulle – 06210 Mandelieu-La Napoule</p>
    <p>
        <translate>Tel.</translate>
        : 04 92 97 07 70
    </p>
    <p>
        <a href="mailto:centrenautique@ot-mandelieu.fr">centrenautique@ot-mandelieu.fr</a>
    </p>
</div>
