<h1 translate>Water activities</h1>

<div class="water-activities">
    <h2 translate>Water skiing and parasailing</h2>
    <h3 translate>Opening hours</h3>
    <p translate>Open from May until October. Groups welcome (min. 10 persons) Personalized lessons</p>

    <h3 translate>Activities</h3>

    <h4 translate>Water skiing– bi – mono – wakeboard</h4>
    <p translate>1 round: €30,00 for 10 minutes</p>
    <p translate>La lessons : € 40,00</p>
    <p>
        <translate>Tel.</translate>
        : 06 09 84 73 34
    </p>

    <h4 translate>Amusements : Banana, Buoys, sofa et flyfish</h4>
    <p translate>Starting at € 20,00</p>
    <p>
        <translate>Tel.</translate>
        : 04 93 93 09 39
    </p>

    <h4 translate>Parasailing</h4>
    <p translate>1 round: 1 person. € 60,00 ; 2 people € 80,00, 3 people € 100,00</p>
    <p>
        <translate>Tel.</translate>
        : 06 09 84 73 34
    </p>

    <h3 translate>Address</h3>
    <p>Boat Evasion, Port du Béal, 110 Bld du midi, Cannes La Bocca</p>

    <h3 translate>Website</h3>
    <p>
        <a href="http://www.funparachute.com" target="_blank">www.funparachute.com</a>
    </p>
</div>

<div class="water-activities">
    <h2 translate>International diving center</h2>

    <h3 translate>Rates</h3>
    <table class="table table-responsive table-striped">
        <tbody>
        <tr>
            <td translate>Children</td>
            <td class="text-right">€ 60,00</td>
        </tr>
        <tr>
            <td translate>First dive</td>
            <td class="text-right">€ 60,00</td>
        </tr>
        <tr>
            <td translate>First trainings</td>
            <td class="text-right">€ 360,00 - € 580,00</td>
        </tr>
        </tbody>
    </table>

    <h3 translate>Address</h3>
    <p>Port de la Napoule, Avenue Henry Clews, 06210 Mandelieu-La-Napoule</p>
    <p>
        <translate>Tel.</translate>
        : 04 93 90 98 66
    </p>

    <h3 translate>Website</h3>
    <p>
        <a href="http://www.lacigale-plongee.com" target="_blank">www.lacigale-plongee.com</a>
    </p>
</div>

<div class="water-activities">
    <h2 translate>Diving club</h2>
    <h3>Plongée Passion</h3>

    <h4 translate>Address</h4>
    <p>Rdv 606 Avenue General de Gaulle, 06210 Mandelieu-La-Napoule</p>
    <p>
        <translate>Tel.</translate>
        : 06 17 94 35 77
    </p>

    <h4 translate>Website</h4>
    <p>
        <a href="http://www.plongeepassion-mandelieu.com" target="_blank">www.plongeepassion-mandelieu.com</a>
    </p>

    <h3>La Cigale</h3>

    <h4 translate>Address</h4>
    <p>Port  de la Napoule, Avennue Henry Clews, 06210 Mandelieu-La-Napoule</p>
    <p>
        <translate>Tel.</translate>
        : 04 93 90 98 66
    </p>

    <h4 translate>Website</h4>
    <p>
        <a href="http://www.lacigale-plongee.com" target="_blank">www.lacigale-plongee.com</a>
    </p>

    <h3>Club de la Rague</h3>

    <h4 translate>Address</h4>
    <p>Rue du Capitaine de Corvette Marché, 06210 Mandelieu-la-Napoule</p>
    <p>
        <translate>Tel.</translate>
        : 04 93 49 74 33
    </p>

    <h4 translate>Website</h4>
    <p>
        <a href="http://www.centre-plongee-rague.com" target="_blank">www.centre-plongee-rague.com</a>
    </p>
</div>

<div class="water-activities">
    <h2 translate>Fishing on lake and river</h2>
    <h3>Verdon Estérel Pêche</h3>

    <h4 translate>Guide</h4>
    <p>Monsieur Pironnie – 06 07 14 51 14</p>

    <h4 translate>Address</h4>
    <p>10, via Aurélia – Centre Commercial La Muscadière, 83600 Fréjus</p>
</div>

<div class="water-activities">
    <h2 translate>Troat fishing</h2>
    <h3>Fishing lakes</h3>

    <h4 translate>Address</h4>
    <p>152, Chemin des Viviers, Saint-Auban</p>

    <h4 translate>Website</h4>
    <p>
        <a href="http://www.terredeslacs.com" target="_blank">www.terredeslacs.com</a>
    </p>
</div>

<div class="water-activities">
    <h2 translate>Deep see fishing Boat Annett</h2>

    <h4 translate>Address</h4>
    <p>678 Avenue de la Mer, 06210 Mandelieu-La-Napoule</p>
    <p>
        <translate>Tel.</translate>
        : 06 08 26 27 78
    </p>

    <h4 translate>Website</h4>
    <p>
        <a href="http://www.pecheaugros.net" target="_blank">www.pecheaugros.net</a>
    </p>
</div>

<div class="water-activities">
    <h2 translate>Jet ski</h2>
    <h3>Jets Cool</h3>

    <h4 translate>Address</h4>
    <p>7 Avenue du Trayas, 06590 Théoule-sur-Mer</p>
    <p>
        <translate>Tel.</translate>
        : 06 111 430 06
    </p>

    <h4 translate>Website</h4>
    <p>
        <a href="http://www.jetscool.com" target="_blank">www.jetscool.com</a>
    </p>

    <h3>JB Watersports (ski + bouées)</h3>

    <h4 translate>Address</h4>
    <p>Plage de la Rague, 06210 Mandelieu-la-Napoule</p>
    <p>
        <translate>Tel.</translate>
        : 06 14 93 73 23
    </p>

    <h4 translate>Website</h4>
    <p>
        <a href="http://www.jbwatersports.fr" target="_blank">www.jbwatersports.fr</a>
    </p>

    <h3>Air X Kite</h3>

    <h4 translate>Address</h4>
    <p>110 Bd du Midi Louise Moreau, 06150 Cannes La Bocca</p>
    <p>
        <translate>Tel.</translate>
        : 06 60 418 734
    </p>

    <h4 translate>Website</h4>
    <p>
        <a href="http://www.airx.com" target="_blank">www.airx.com</a>
    </p>
</div>

<div class="water-activities">
    <h2 translate>Canoeing / Kayaking / Windsurfing / Catamaran</h2>
    <h3>Centre nautique</h3>

    <h4 translate>Address</h4>
    <p>Avenue du Général De Gaulle, 06210 Mandelieu-La-Napoule</p>
    <p>
        <translate>Tel.</translate>
        : 04 92 92 07 70
    </p>

    <h4 translate>Website</h4>
    <p>
        <a href="http://www.mandelieu.fr/sport-mandelieu/nautisme/centre-nautique-municipal.php" target="_blank">www.mandelieu.fr/sport-mandelieu/nautisme/centre-nautique-municipal.php</a>
    </p>
</div>

<div class="water-activities">
    <h2 translate>Cannes Standup Paddle</h2>

    <h4 translate>Address</h4>
    <p>Boulevard Eugène Gazagnaire, Plage du Mouré Rouge, 06400 Cannes</p>
    <p>
        <translate>Tel.</translate>
        : 06 82 17 08 77
    </p>

    <h4 translate>Website</h4>
    <p>
        <a href="http://www.cannesstanduppaddle.fr/indexen.php" target="_blank">www.cannesstanduppaddle.fr/indexen.php</a>
    </p>
</div>