<h1 translate>Animation parks</h1>

<div class="row">
    <div class=" col-md-6">
        <div class="panel panel-default animation-panel">
            <div class="panel-heading">Fun City Cannes</div>
            <div class="panel-body">
                <h3 translate>Opening hours</h3>
                <p translate>Wednesday, Saturday and Sunday + Holidays: from 10h – 19h</p>

                <h3 translate>Rates</h3>
                <table class="table table-responsive table-striped">
                    <tbody>
                    <tr>
                        <td translate>Children aged younger than 3 years</td>
                        <td class="text-right">€ 6,50</td>
                    </tr>
                    <tr>
                        <td translate>Children aged 3 - 12 years</td>
                        <td class="text-right">€ 10,00</td>
                    </tr>
                    <tr>
                        <td translate>Adults</td>
                        <td class="text-right" translate>Free</td>
                    </tr>
                    </tbody>
                </table>

                <h3 translate>Address</h3>
                <p>47, Avenue Maurice Chevalier, 06150 Cannes la Bocca</p>

                <h3 translate>Website</h3>
                <p>
                    <a href="http://www.fun-city.fr" target="_blank">www.fun-city.fr</a>
                </p>
            </div>
        </div>
    </div>

    <div class=" col-md-6">
        <div class="panel panel-default animation-panel">
            <div class="panel-heading">Camp trappeur</div>
            <div class="panel-body">
                <h3 translate>Opening hours</h3>
                <p translate>Open every day in school vacations from the 8th of April: 13h – 18h and Wednesday, Saturday and Sunday, not during school vacations: 13h-18h</p>

                <h3 translate>Address</h3>
                <p>450 Chemin du Beal, 06150 Cannes</p>

                <h3 translate>Website</h3>
                <p>
                    <a href="http://www.okwide.fr/fr/8-OKWIDE_-_energy_camp/9-Camp_trappeur#_=_" target="_blank">www.okwide.fr/fr/8-OKWIDE_-_energy_camp/9-Camp_trappeur#_=_</a>
                </p>
            </div>
        </div>
    </div>

    <div class=" col-md-6">
        <div class="panel panel-default animation-panel">
            <div class="panel-heading">Espace Marineland</div>
            <div class="panel-body">
                <h3 translate>Opening hours</h3>
                <ul>
                    <li translate>11th of February – 6th of April: 10h - 18h</li>
                    <li translate>7th of April – 29th of June : 10h - 19h</li>
                    <li translate>1st of July – 2th of September: 10h – 23h</li>
                </ul>

                <h3 translate>Rates</h3>
                <table class="table table-responsive table-striped">
                    <tbody>
                    <tr>
                        <td translate>Adults</td>
                        <td class="text-right">€ 39,00</td>
                    </tr>
                    <tr>
                        <td translate>Children aged 3 - 12 years</td>
                        <td class="text-right">€ 32,00</td>
                    </tr>
                    <tr>
                        <td translate>Reduction Early Booking</td>
                        <td class="text-right" translate>Adult: from € 25,90<br>Child: from € 19,90</td>
                    </tr>
                    </tbody>
                </table>

                <h3 translate>Address</h3>
                <p>306 Avenue Mozart, 06600 Antibes</p>

                <h3 translate>Website</h3>
                <p>
                    <a href="http://www.marineland.fr/fr" target="_blank">www.marineland.fr/fr</a>
                </p>
            </div>
        </div>
    </div>

    <div class=" col-md-6">
        <div class="panel panel-default animation-panel">
            <div class="panel-heading">Antibesland</div>
            <div class="panel-body">
                <h3 translate>Opening hours</h3>
                <ul>
                    <li translate>April until mid-June: every weekend and every holiday: 14h - 19h</li>
                    <li translate>From the 11th of June until the 1st of July: Every day from 20h30 - 1h. Saturdays from 16h-1h. Sundays from 15h - 1h</li>
                    <li translate>July-August: From Monday until Saturday: 17h - 2h. And Sunday from 15h - 2h</li>
                    <li translate>September : Every weekend from 16h - 2h</li>
                </ul>

                <h3 translate>Rates</h3>
                <p translate>Free entrance (prices of rides: from 1.50 €)</p>

                <h3 translate>Address</h3>
                <p>301 Route de Biot – Face Marineland, 06600 Antibes</p>
                <p>
                    <translate>Tel.</translate>
                    : 04 93 33 68 03
                </p>

                <h3 translate>Website</h3>
                <p>
                    <a href="http://www.antibesland.fr" target="_blank">www.antibesland.fr</a>
                </p>
            </div>
        </div>
    </div>

    <div class=" col-md-6">
        <div class="panel panel-default animation-panel">
            <div class="panel-heading">Aqualand – Fréjus</div>
            <div class="panel-body">
                <h3 translate>Opening hours</h3>
                <ul>
                    <li translate>Open every day from the 16th of June until the 5th of September</li>
                    <li translate>From the 16th of June until the 1st of July and from the 27th of August until the 5th of September: 10h-18h00</li>
                    <li translate>From the 2nd of July until the 26th of August: 10h00 - 19h00</li>
                </ul>

                <h3 translate>Rates</h3>
                <table class="table table-responsive table-striped">
                    <tbody>
                    <tr>
                        <td translate>Children (3-4 year)</td>
                        <td class="text-right">€ 10,00</td>
                    </tr>
                    <tr>
                        <td translate>Children (between 5 and 10 year)</td>
                        <td class="text-right">€ 20,50</td>
                    </tr>
                    <tr>
                        <td translate>Adults</td>
                        <td class="text-right">€ 28,00</td>
                    </tr>
                    <tr>
                        <td translate>Seniors (+65)</td>
                        <td class="text-right">€ 20,50</td>
                    </tr>
                    </tbody>
                </table>

                <h3 translate>Address</h3>
                <p>Camb de l’abbé, 462 D559, 83600 Fréjus</p>
                <p>
                    <translate>Tel.</translate>
                    : 04 94 51 82 51
                </p>

                <h3 translate>Website</h3>
                <p>
                    <a href="http://www.aqualand.fr" target="_blank">www.aqualand.fr</a>
                </p>
            </div>
        </div>
    </div>

    <div class=" col-md-6">
        <div class="panel panel-default animation-panel">
            <div class="panel-heading">Luna Park</div>
            <div class="panel-body">
                <h3 translate>Opening hours</h3>
                <ul>
                    <li translate>April, May and September: Weekends, holidays and school vacancies: 13h - 19h</li>
                    <li translate>June, July and August: every day from 20h00</li>
                </ul>

                <h3 translate>Rates</h3>
                <p translate>Free entrance, Attractions from € 1 for children and € 2 for adults</p>

                <h3 translate>Address</h3>
                <p>Route Nationale 98, 83600 Fréjus</p>

                <h3 translate>Website</h3>
                <p>
                    <a href="http://www.lunaparkfrejus.fr" target="_blank">www.lunaparkfrejus.fr</a>
                </p>
            </div>
        </div>
    </div>

    <div class=" col-md-6">
        <div class="panel panel-default animation-panel">
            <div class="panel-heading">Bois de Lutins</div>
            <div class="panel-body">
                <h3 translate>Rates</h3>
                <table class="table table-responsive table-striped">
                    <tbody>
                    <tr>
                        <td translate>Between 5 and 64 years</td>
                        <td class="text-right">€ 15,00</td>
                    </tr>
                    <tr>
                        <td translate>Between 2 and 4 years / +64 years</td>
                        <td class="text-right">€ 8,00</td>
                    </tr>
                    </tbody>
                </table>

                <h3 translate>Address</h3>
                <p>2559 Route de Grasse, 06270 Villeneuve-Loubet</p>
                <p>
                    <translate>Tel.</translate>
                    : 04 92 02 06 06
                </p>

                <h3 translate>Website</h3>
                <p>
                    <a href="http://www.leboisdeslutins.com/HorairesTarifs.html" target="_blank">www.leboisdeslutins.com/HorairesTarifs.html</a>
                </p>
            </div>
        </div>
    </div>

    <div class=" col-md-6">
        <div class="panel panel-default animation-panel">
            <div class="panel-heading">Koaland</div>
            <div class="panel-body">
                <h3 translate>Opening hours</h3>
                <ul>
                    <li translate>Open every day: 10h00 – 12h00 and 14h00-18h30</li>
                    <li translate>From the 1st of July until the 31st of August: 10h00-12h00 and 16h00 – 00h00</li>
                    <li translate>Closed on Tuesdays, except during school vacancies</li>
                </ul>

                <h3 translate>Rates</h3>
                <p translate>Free entrance (prices of rides: from € 1,50)</p>

                <h3 translate>Address</h3>
                <p>5, avenue de la Madone, 06500 Menton</p>
                <p>
                    <translate>Tel.</translate>
                    : 04 92 10 00 40
                </p>
            </div>
        </div>
    </div>

    <div class=" col-md-6">
        <div class="panel panel-default animation-panel">
            <div class="panel-heading">Azur Park – Saint tropez</div>
            <div class="panel-body">
                <h3 translate>Opening hours</h3>
                <p translate>Open every day from April until September</p>
                <ul>
                    <li translate>May: from 18h</li>
                    <li translate>April: from 16h</li>
                    <li translate>June until September: from 20h - 1h</li>
                </ul>

                <h3 translate>Rates</h3>
                <p translate>Free entrance (prices of rides: from € 0,77)</p>

                <h3 translate>Address</h3>
                <p>Rond-Point de la Foux, 83580 Gassin</p>
                <p>
                    <translate>Tel.</translate>
                    : 04 94 43 39 80
                </p>

                <h3 translate>Website</h3>
                <p>
                    <a href="http://www.azurpark.fr" target="_blank">www.azurpark.fr</a>
                </p>
            </div>
        </div>
    </div>
</div>