<h1 translate>Animals / nature</h1>
<div class="animals">
    <h2>Hippodrome de la cote d’Azur</h2>

    <h3 translate>Address</h3>
    <p>2 Boulevard Kennedy, 06800 Cagnes-sur-Mer</p>
    <p>
        <translate>Tel.</translate>
        : 04 92 02 44 44
    </p>

    <h3 translate>Website</h3>
    <p>
        <a href="http://www.hippodrome-cotedazur.com" target="_blank">www.hippodrome-cotedazur.com</a>
    </p>
</div>

<div class="animals">
    <h2>Poney-club des Ecureuils</h2>

    <h3 translate>Address</h3>
    <p>89 Chemin de Maure-Vieil, 06210 Mandelieu-La-Napoule</p>
    <p>
        <translate>Tel.</translate>
        : 04 93 49 88 35
    </p>

    <h3 translate>Website</h3>
    <p>
        <a href="http://teamdefontenay.pagesperso-orange.fr" target="_blank">teamdefontenay.pagesperso-orange.fr</a>
    </p>
</div>

<div class="animals">
    <h2>Espace Marineland</h2>
    <h3 translate>Opening hours</h3>
    <ul>
        <li translate>The 11th of February until the 6th of April: 10h - 18h</li>
        <li translate>The 7th of April until the 29th of June: 10h - 19h</li>
        <li translate>The 1st of July until the 2nd of September: 10h – 23h</li>
    </ul>

    <h3 translate>Rates</h3>
    <table class="table table-responsive table-striped">
        <tbody>
        <tr>
            <td translate>Adults</td>
            <td class="text-right">€ 39,00</td>
        </tr>
        <tr>
            <td translate>Children aged 3 - 12 years</td>
            <td class="text-right">€ 32,00</td>
        </tr>
        <tr>
            <td>
                <translate>Reduction Early Booking</translate>
                :
                <translate>Adults</translate>
            </td>
            <td class="text-right">€ 25,90</td>
        </tr>
        <tr>
            <td>
                <translate>Reduction Early Booking</translate>
                :
                <translate>Child</translate>
            </td>
            <td class="text-right">€ 19,90</td>
        </tr>
        </tbody>
    </table>

    <h3 translate>Address</h3>
    <p>306 Avenue Mozart, 06600 Antibes</p>

    <h3 translate>Website</h3>
    <p>
        <a href="http://www.marineland.fr/fr" target="_blank">www.marineland.fr/fr</a>
    </p>
</div>

<div class="animals">
    <h2>Réserve Biologique des Monts d’Azur -Park with bison’s</h2>
    <h3 translate>Opening hours</h3>
    <ul>
        <li translate>Every day from 10h – 18h</li>
        <li translate>Caravan safaris departures : 10h – 11h – 12h – 14h – 15h – 16h – 17h</li>
        <li translate>Safaris departures on feet : 10h – 11h30 – 14h – 15h30</li>
    </ul>

    <h3 translate>Address</h3>
    <p>Domaine du Haut-Thorenc, 06750 Thorenc</p>
    <p>
        <translate>Tel.</translate>
        : 04 93 60 00 78
    </p>

    <h3 translate>Website</h3>
    <p>
        <a href="http://www.haut-thorenc.com" target="_blank">www.haut-thorenc.com</a>
    </p>
</div>

<div class="animals">
    <h2>Grottes de St Cézaire</h2>
    <h3 translate>Opening hours</h3>
    <ul>
        <li translate>January and December: closed</li>
        <li translate>February, March, April and May: 10h-12h and 14h – 17h</li>
        <li translate>June, July and August: 10h – 18h</li>
        <li translate>September, October and November: 10h – 12h and 14h – 17h</li>
    </ul>

    <h3 translate>Rates</h3>
    <table class="table table-responsive table-striped">
        <tbody>
        <tr>
            <td translate>Adults</td>
            <td class="text-right">€ 8,00</td>
        </tr>
        <tr>
            <td translate>+60 years</td>
            <td class="text-right">€ 7,00</td>
        </tr>
        <tr>
            <td translate>Children aged 6-12 years</td>
            <td class="text-right">€ 5,50</td>
        </tr>
        </tbody>
    </table>

    <h3 translate>Address</h3>
    <p>Préalpes d’Azur Natural Regional Park, 1481 route des Grottes, 06530 St Cézaire / Siagne</p>
    <p>
        <translate>Tel.</translate>
        : 04 93 60 22 35
    </p>

    <h3 translate>Website</h3>
    <p>
        <a href="http://www.grotte-saintcezaire.com" target="_blank">www.grotte-saintcezaire.com</a>
    </p>
</div>

<div class="animals">
    <h2>Parc Alpha</h2>
    <h3 translate>Opening hours</h3>
    <p translate>Open every day, the whole year from 10h00 – 18h00</p>

    <h3 translate>Rates</h3>
    <table class="table table-responsive table-striped">
        <tbody>
        <tr>
            <td translate>Adults</td>
            <td class="text-right">€ 10,00</td>
        </tr>
        <tr>
            <td translate>Children aged between 4 and 12 years</td>
            <td class="text-right">€ 8,00</td>
        </tr>
        <tr>
            <td translate>Children aged younger than 4 years</td>
            <td class="text-right" translate>Free</td>
        </tr>
        </tbody>
    </table>

    <h3 translate>Address</h3>
    <p>Parc Alpha - Chalet d’accueil du Boréon, Route Départementale 89, 06450 Saint-Martin Vésubie</p>
    <p>
        <translate>Tel.</translate>
        : 04 93 02 33 69
    </p>

    <h3 translate>Website</h3>
    <p>
        <a href="http://www.alpha-loup.com" target="_blank">www.alpha-loup.com</a>
    </p>
</div>

<div class="animals">
    <h2>Visiobulle</h2>
    <h3 translate>Opening hours</h3>
    <ul>
        <li translate>Open every day from the 7th of April until the 30th of September</li>
        <li translate>From the 7th of April until the 30th of June: 11h – 13h30 – 15h00 – 16h30</li>
        <li translate>From the 1st of July until the 31st of August: 9h25 – 10h40 – 11h55 – 14h15 – 15h30 – 16h45 – 18h00</li>
        <li translate>From the 1st of September until the 30th of September: 11h00 – 13h30 – 15h00 – 16h30</li>
    </ul>

    <h3>
        <translate>Rates</translate>
        (
        <translate>Guided walk (1h)</translate>
        )
    </h3>
    <table class="table table-responsive table-striped">
        <tbody>
        <tr>
            <td translate>Full price</td>
            <td class="text-right">€ 14,00</td>
        </tr>
        <tr>
            <td translate>Children aged 2-11 years</td>
            <td class="text-right">€ 7,00</td>
        </tr>
        <tr>
            <td translate>Special rate from July until August (only at 9h25)</td>
            <td class="text-right">€ 12,00
                <translate>and</translate>
                € 6,00
            </td>
        </tr>
        </tbody>
    </table>

    <h3 translate>Address</h3>
    <p>Embarcadère Courbet, Avenue Amiral Courbet, 06160 Juanles-Pins</p>
    <p>
        <translate>Tel.</translate>
        : 06 36 65 50 08
    </p>

    <h3 translate>Website</h3>
    <p>
        <a href="http://www.visiobulle.com" target="_blank">www.visiobulle.com</a>
    </p>
</div>

<div class="animals">
    <h2>Le village des tortues</h2>
    <h3 translate>Opening hours</h3>
    <p translate>Every day from 9h-19h00</p>

    <h3 translate>Rates</h3>
    <table class="table table-responsive table-striped">
        <tbody>
        <tr>
            <td translate>Adults</td>
            <td class="text-right">€ 12,50</td>
        </tr>
        <tr>
            <td translate>Children aged 5-16 years</td>
            <td class="text-right">€ 8,00</td>
        </tr>
        <tr>
            <td translate>Children aged under 5 years</td>
            <td class="text-right" translate>Free</td>
        </tr>
        </tbody>
    </table>

    <h3 translate>Address</h3>
    <p>RN97, 83660, Carnoules</p>
    <p>
        <translate>Tel.</translate>
        : 04 94 78 26 41
    </p>

    <h3 translate>Website</h3>
    <p>
        <a href="http://www.villagetortues.com" target="_blank">www.villagetortues.com</a>
    </p>
</div>

<div class="animals">
    <h2>Parc Phoenix Nice</h2>
    <h3 translate>Opening hours</h3>
    <ul>
        <li translate>From March until October: 9h30 - 19h30</li>
        <li translate>From October until March: 9h30 - 18h00</li>
    </ul>

    <h3 translate>Address</h3>
    <p>405 promenade des anglais, 06200 Nice – France</p>
    <p>
        <translate>Tel.</translate>
        : 04 92 29 77 00
    </p>

    <h3 translate>Website</h3>
    <p>
        <a href="http://www.parc-phoenix.org" target="_blank">www.parc-phoenix.org</a>
    </p>
</div>

<div class="animals">
    <h2>Zoo parc de Fréjus</h2>
    <h3 translate>Opening hours</h3>
    <ul>
        <li translate>From the 1st of June until the 31st of August: 10h – 18h</li>
        <li translate>From the 1st of March until the 31st of May and from the 1st of September until the 31st of October: 10h-17h</li>
        <li translate>From the 1st of November until the 28th of February: 10h30 – 16h30</li>
    </ul>

    <h3 translate>Rates</h3>
    <table class="table table-responsive table-striped">
        <tbody>
        <tr>
            <td translate>Adults</td>
            <td class="text-right">€ 16,00</td>
        </tr>
        <tr>
            <td translate>Children aged 5-9 years</td>
            <td class="text-right">€ 11,50</td>
        </tr>
        <tr>
            <td translate>Children aged -5 years</td>
            <td class="text-right" translate>Free</td>
        </tr>
        </tbody>
    </table>

    <h3 translate>Address</h3>
    <p>Parc Zoologique de Fréjus, Le Capitou, 240, Rue hubert Masquefa, 83600 Fréjus
    </p>
    <p>
        <translate>Tel.</translate>
        : 04 98 11 37 37
    </p>

    <h3 translate>Website</h3>
    <p>
        <a href="http://zoo-frejus.com/" target="_blank">zoo-frejus.com</a>
    </p>
</div>

<div class="animals">
    <h2>Le Souterroscope – Grotte de Baume Obscure</h2>
    <h3 translate>Opening hours</h3>
    <ul>
        <li translate>Time of 1 visit: 1 hours</li>
        <li translate>From the 4th of January until the 31st of March Du 4: Open every day, except Mondays from 10h-16h</li>
        <li translate>From the 1st of April until the 30th of June: Open every day, except Mondays from 10h-17h</li>
        <li translate>From the 1st of July until the 31st of August: Open every day from 10h-18h</li>
        <li translate>From the 1st of September until the 19th of November: Open every day, except Mondays from 10h-17h</li>
    </ul>

    <h3 translate>Rates</h3>
    <h4 translate>Free visit (1h without guide)</h4>
    <table class="table table-responsive table-striped">
        <tbody>
        <tr>
            <td translate>Adults</td>
            <td class="text-right">€ 9,50</td>
        </tr>
        <tr>
            <td translate>Adolescents 16-18 years</td>
            <td class="text-right">€ 9,50</td>
        </tr>
        <tr>
            <td translate>Children aged 3-15 years</td>
            <td class="text-right">€ 6,00</td>
        </tr>
        </tbody>
    </table>

    <h4 translate>Treasure hunt (2h)</h4>
    <table class="table table-responsive table-striped">
        <tbody>
        <tr>
            <td translate>Adults</td>
            <td class="text-right">€ 13,00</td>
        </tr>
        <tr>
            <td translate>Adolescents 13-18 years</td>
            <td class="text-right">€ 13,00</td>
        </tr>
        <tr>
            <td translate>Children aged 4-12 years</td>
            <td class="text-right">€ 10,00</td>
        </tr>
        </tbody>
    </table>

    <h3 translate>Address</h3>
    <p>2600 Chemin de Sainte Anne, 06460 Saint-Vallier-de-Thiey,</p>
    <p>
        <translate>Tel.</translate>
        : 04 93 42 61 63
    </p>

    <h3 translate>Website</h3>
    <p>
        <a href="http://www.baumeobscure.com" target="_blank">www.baumeobscure.com </a>
    </p>
</div>