<h1 class="text-center" translate>For the kids</h1>

<div class="row">
    <a ui-sref="animationparks">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/img/kids/animation-park.png" alt="{{'Animation parks'|translate}}">
                <div class="caption">
                    <h3 class="text-center" translate>Animation parks</h3>
                </div>
            </div>
        </div>
    </a>
    <a ui-sref="animals">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/img/kids/animals.png" alt="{{'Animals / nature'|translate}}">
                <div class="caption">
                    <h3 class="text-center" translate>Animals / nature</h3>
                </div>
            </div>
        </div>
    </a>
</div>