<h1 translate>Boat</h1>
<div class="row">
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Compagnie Maritime Napouloise</div>
            <div class="panel-body">
                <p><i class="fa fa-ship" aria-hidden="true"></i> Ile Sainte-Marguerite, La Corniche d’Or, St-Tropez, Monaco</p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Port de la Napoule, 06210 Mandelieu-La Napoule</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 92 98 71 31</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://www.compagnie-maritime-napouloise.com" target="_blank">www.compagnie-maritime-napouloise.com</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Trans côte d’Azur</div>
            <div class="panel-body">
                <p><i class="fa fa-ship" aria-hidden="true"></i> Iles de Lérins, Sainte Marguerite, La corniche d’Or, Monaco, St-Tropez </p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Port de Cannes – 20 Quai Saint Pierre</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 92 98 71 30 </p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://www.trans-cote-azur.com" target="_blank">www.trans-cote-azur.com</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Compagnie Riviera Lines</div>
            <div class="panel-body">
                <p><i class="fa fa-ship" aria-hidden="true"></i> Ile Sainte Marguerite, La Corniche D’Or, Juan Les Pins, Feux D’artifice</p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Quai Laubeuf, 06400 Cannes</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 92 98 71 31 </p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://www.riviera-lines.com" target="_blank">www.riviera-lines.com</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Planaria</div>
            <div class="panel-body">
                <p><i class="fa fa-ship" aria-hidden="true"></i> Iles de Lérins</p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Quai Laubeuf, 06400 Cannes</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 92 98 71 38 </p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://www.cannes-ilesdelerins.com" target="_blank">www.cannes-ilesdelerins.com</a>
                </p>
            </div>
        </div>
    </div>
</div>