<h1 translate>Helicopter</h1>
<h2 translate>Azur Helicopter</h2>
<h3 translate>Destinations</h3>
<p>Nice Aéroport, Cannes, Monaco, St-Tropez,…</p>
<h3 translate>Rate</h3>
<p>
    <translate>Starting at</translate>
    €135
</p>

<h3 translate>Address</h3>
<p>
    Aéroport de Cannes <br/>
    Mandelieu Hangar 5, <br/>
    06150 Cannes <br/>
    Tel : 04 93 90 40 70
</p>

<h3 translate>Website</h3>
<p>
    <a href="http://www.azurhelico.com/en/helicopter-panoramic-flights-french-riviera.html" target="_blank">www.azurhelico.com/en/helicopter-panoramic-flights-french-riviera.html</a>
</p>