<h1 translate>Taxi</h1>
<div class="row">
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Taxi Cannes</div>
            <div class="panel-body">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 29 Boulevard de la Ferrage, 06414 Cannes</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 93 99 27 27</p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Mougins Prestige Cars</div>
            <div class="panel-body">
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 92 28 06 60 </p>
                <p><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:Reserve.mpc@gmail.com">Reserve.mpc@gmail.com</a></p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Cannes car service – Franck Archier</div>
            <div class="panel-body">
                <p><i class="fa fa-phone" aria-hidden="true"></i> 06 88 22 04 86 </p>
                <p><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:franckdriver88@yahoo.fr">franckdriver88@yahoo.fr</a></p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Azur Riviera – Charlène, Julien</div>
            <div class="panel-body">
                <p><i class="fa fa-phone" aria-hidden="true"></i> 06 03 26 45 88</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 07 68 68 34 59</p>
                <p><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:azurriviera@icloud.com ">azurriviera@icloud.com </a></p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Provence Trips – William</div>
            <div class="panel-body">
                <p><i class="fa fa-phone" aria-hidden="true"></i> 06 61 75 20 00 </p>
                <p><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:provencetrips@gmail.com">provencetrips@gmail.com</a></p>
            </div>
        </div>
    </div>
</div>