<h1 translate>Bike</h1>
<div class="row">
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Mandelieu 2 Roues</div>
            <div class="panel-body">
                <p><i class="fa fa-eur" aria-hidden="true"></i> 15-35/<translate>day</translate></p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 542 Avenue de la Mer, 06210 Mandelieu</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 92 97 27 37</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://www.mandelieu2roues.com" target="_blank">www.mandelieu2roues.com</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Elite Rent a Bike</div>
            <div class="panel-body">
                <p><i class="fa fa-eur" aria-hidden="true"></i> 18-20/<translate>day</translate></p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 19 Avenue Maréchal Juin, 06400 Cannes</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 93 94 30 34</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://www.elite-rentabike.com" target="_blank">www.elite-rentabike.com</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Holiday Bikes</div>
            <div class="panel-body">
                <p><i class="fa fa-eur" aria-hidden="true"></i> 14-35/<translate>day</translate></p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 44 Bd de Lorraine, 06400 Cannes</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 97 06 30 63</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://www.loca-bike.fr" target="_blank">www.loca-bike.fr</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Mistral Location</div>
            <div class="panel-body">
                <p><i class="fa fa-eur" aria-hidden="true"></i> 28/<translate>day</translate></p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 4 Rue Georges Clemenceau, 06400 Cannes</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 06 20 33 87 64 </p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://www.mistral-location.com" target="_blank">www.mistral-location.com</a>
                </p>
            </div>
        </div>
    </div>
</div>