<h1 translate>Boat</h1>
<div class="row">
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Gaspard-Yachts</div>
            <div class="panel-body">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 18 Quai Saint Pierre, 06400 Cannes</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 93 93 09 39</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://www.cannes-i-get.com/fr/gaspard-yachts-cannes-c251.html" target="_blank">www.cannes-i-get.com/fr/gaspard-yachts-cannes-c251.html</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Ocean 5 Yachting</div>
            <div class="panel-body">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 53 Rue d’Antibes, 06400 Cannes</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 93 99 50 54</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://ocean5yachts.com" target="_blank">ocean5yachts.com</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Yachting Concept</div>
            <div class="panel-body">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 29 Rue Georges Clemenceau, 06400 Cannes</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 93 99 15 46</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://www.yachtingconcept.com/fr" target="_blank">www.yachtingconcept.com/fr</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Olympic Nautic – Poli naval</div>
            <div class="panel-body">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 280 Chemin Levassor, 06210 Mandelieu</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 93 43 60 00</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://www.poli-naval.fr" target="_blank">www.poli-naval.fr</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Winner</div>
            <div class="panel-body">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Port de la Napoule, 06210 Mandelieu</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 93 49 74 04</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://www.winnerboat.com" target="_blank">www.winnerboat.com</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Easy nautic (<translate>from</translate> 1/05 <translate>until</translate> 30/09)</div>
            <div class="panel-body">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Bld de la Mer, chez Pierre et vacances, 06210 Mandelieu-la-Napoule</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 92 97 72 25</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://www.sud-est-nautic.com" target="_blank">www.sud-est-nautic.com</a>
                </p>
            </div>
        </div>
    </div>
</div>