<h1 translate>Car</h1>
<div class="row">
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Europcar</div>
            <div class="panel-body">
                <p><i class="fa fa-eur" aria-hidden="true"></i> <translate>Starting at</translate> € 58/<translate>day</translate></p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Aeroport Cannes Mandelieu</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 92 19 01 90</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://www.europcar.fr" target="_blank">www.europcar.fr</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Budget rentalcars</div>
            <div class="panel-body">
                <p><i class="fa fa-eur" aria-hidden="true"></i> <translate>Starting at</translate> € 204/3 <translate>days</translate></p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 69, La Croisette, Angle rue La Tour Maubourg, 06400  Cannes</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> /</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="www.rentalcars.com" target="_blank">www.rentalcars.com</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Mistral Location</div>
            <div class="panel-body">
                <p><i class="fa fa-eur" aria-hidden="true"></i> <translate>Starting at</translate> € 74/<translate>day</translate></p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 4 Rue Georges Clemenceau, 06400 Cannes</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 06 20 33 87 64 </p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://www.mistral-location.com" target="_blank">www.mistral-location.com</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Sixt</div>
            <div class="panel-body">
                <p><i class="fa fa-eur" aria-hidden="true"></i> <translate>Starting at</translate> € 47</p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 8 Rue Frédéric Amouretti, 06400 Cannes</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 93 99 05 20</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://www.sixt.fr/location-voiture/france/cannes/cannes" target="_blank">www.sixt.fr/location-voiture/france/cannes/cannes</a>
                </p>
            </div>
        </div>
    </div>
</div>