<h1 translate>MBT</h1>
<div class="row">
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Elite Rent a Bike</div>
            <div class="panel-body">
                <p><i class="fa fa-eur" aria-hidden="true"></i> 25/
                    <translate>day</translate>
                </p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 19 Avenue Maréchal Juin, 06400 Cannes</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 93 94 30 34</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://www.elite-rentabike.com" target="_blank">www.elite-rentabike.com</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Holiday Bikes</div>
            <div class="panel-body">
                <p><i class="fa fa-eur" aria-hidden="true"></i> 17/
                    <translate>day</translate>
                </p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 44 Bd de Lorraine, 06400 Cannes</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 97 06 30 63</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://www.loca-bike.fr" target="_blank">www.loca-bike.fr</a>
                </p>
            </div>
        </div>
    </div>
</div>