<h1 translate>Scooter</h1>
<div class="row">
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Mandelieu 2 Roues</div>
            <div class="panel-body">
                <p><i class="fa fa-eur" aria-hidden="true"></i> 40-110/<translate>day</translate></p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 542 Avenue de la Mer, 06210 Mandelieu</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 92 97 27 37</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://www.mandelieu2roues.com" target="_blank">www.mandelieu2roues.com</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Daniel Location 2 Roues</div>
            <div class="panel-body">
                <p><i class="fa fa-eur" aria-hidden="true"></i> 30-60/<translate>day</translate></p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 12 Rue Montaigne, 06400 Cannes</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 93 99.90 30</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://www.daniel-location-cannes.com" target="_blank">www.daniel-location-cannes.com</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Mistral Location</div>
            <div class="panel-body">
                <p><i class="fa fa-eur" aria-hidden="true"></i> 30-35/<translate>day</translate></p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 4 Rue Georges Clemenceau, 06400 Cannes</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 06 20 33 87 64 </p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://www.mistral-location.com" target="_blank">www.mistral-location.com</a>
                </p>
            </div>
        </div>
    </div>
</div>