<h1 translate>High gastronomy</h1>
<div class="row">
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">La Palme d’Or</div>
            <div class="panel-body">
                <p><i class="fa fa-info" aria-hidden="true"></i> <translate>Modern, creative cuisine</translate></p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 73 Bd de la Croisette, 06400 Cannes</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 92 98 74 14</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="https://www.cannesmartinez.grand.hyatt.com/en/hotel/home.html" target="_blank">www.cannesmartinez.grand.hyatt.com/en/hotel/home.html</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Le Park 45</div>
            <div class="panel-body">
                <p><i class="fa fa-info" aria-hidden="true"></i> <translate>Modern, creative cuisine</translate></p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 45 Bd de la Croisette, 06400 Cannes</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 93 38 15 45</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://www.grand-hotel-cannes.com/fr/restaurant-etoile-bar-vue-mer.php" target="_blank">www.grand-hotel-cannes.com/fr/restaurant-etoile-bar-vue-mer.php</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">L’Oasis</div>
            <div class="panel-body">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 6 Rue Jean-Honoré Carle, 06210 Mandelieu-la-Napoule</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 93 49 95 52</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://www.oasis-raimbault.com/fr" target="_blank">www.oasis-raimbault.com/fr</a>
                </p>
            </div>
        </div>
    </div>
</div>