<h1 class="text-center">Les restaurants</h1>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/img/restaurants/high-gastronomy.png" alt="Haute gastronomie">
            <div class="caption">
                <h3 class="text-center"><a ui-sref="high-gastronomy" translate>High gastronomy</a> </h3>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/img/restaurants/sea-food.png" alt="Transports en commun">
            <div class="caption">
                <h3 class="text-center"><a ui-sref="airport" translate>Sea products</a> </h3>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/img/restaurants/tapas.png" alt="Transports en commun">
            <div class="caption">
                <h3 class="text-center"><a ui-sref="airport" translate>Tapas</a> </h3>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/img/restaurants/fast-food.png" alt="Transports en commun">
            <div class="caption">
                <h3 class="text-center"><a ui-sref="airport" translate>Fast food restaurants/ Delivery</a> </h3>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/img/restaurants/international.png" alt="Transports en commun">
            <div class="caption">
                <h3 class="text-center"><a ui-sref="airport" translate>International cuisine</a> </h3>

            </div>
        </div>
    </div>
</div>