<h1 class="text-center">Les restaurants</h1>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/img/restaurants/high-gastronomy.png" alt="Haute gastronomie">
            <div class="caption">
                <h3 class="text-center"><a ui-sref="high-gastronomy">Haute gastronomie</a> </h3>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/img/restaurants/sea-food.png" alt="Transports en commun">
            <div class="caption">
                <h3 class="text-center"><a ui-sref="airport">Produits de la mer</a> </h3>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/img/restaurants/tapas.png" alt="Transports en commun">
            <div class="caption">
                <h3 class="text-center"><a ui-sref="airport">tapas</a> </h3>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/img/restaurants/fast-food.png" alt="Transports en commun">
            <div class="caption">
                <h3 class="text-center"><a ui-sref="airport">Restauration rapide / livraisons</a> </h3>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/img/restaurants/international.png" alt="Transports en commun">
            <div class="caption">
                <h3 class="text-center"><a ui-sref="airport">Cuisine du Monde</a> </h3>

            </div>
        </div>
    </div>
</div>