<h1 translate>International cuisine</h1>
<div class="row">
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Ucello</div>
            <div class="panel-body">
                <p><i class="fa fa-info" aria-hidden="true"></i> <translate>Italian restaurant</translate></p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 217 Rue Laurent Gandolphe, 06210 Mandelieu-la-Napoule</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 93 49 66 18</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    /
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Lemonot Cannes</div>
            <div class="panel-body">
                <p><i class="fa fa-info" aria-hidden="true"></i> <translate>Italian restaurant</translate></p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 12 Rue Hélène Vagliano, 06400 Cannes</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 93 99 16 38 </p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://www.lemonot.fr" target="_blank">www.lemonot.fr</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Beryte</div>
            <div class="panel-body">
                <p><i class="fa fa-info" aria-hidden="true"></i> <translate>Lebanese restaurant</translate></p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 24 Rue Pasteur, 06400 Cannes</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 93 69 43 27</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://www.beryte.fr/" target="_blank">www.beryte.fr/</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Restaurant Noun</div>
            <div class="panel-body">
                <p><i class="fa fa-info" aria-hidden="true"></i> <translate>Lebanese restaurant </translate></p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 22 Rue Latour Maubourg, 06400 Cannes</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 93 94 68 64</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    /
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Cosmo Sushi</div>
            <div class="panel-body">
                <p><i class="fa fa-info" aria-hidden="true"></i> <translate>Japanese restaurant</translate></p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 154 Avenue de Cannes, 06210 Mandelieu-la-Napoule</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 93 48 24 35</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="https://www.facebook.com/Cosmo-sushi-143789105667125/" target="_blank">www.facebook.com/Cosmo-sushi-143789105667125/</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Wasabi d’Azur</div>
            <div class="panel-body">
                <p><i class="fa fa-info" aria-hidden="true"></i> <translate>Japanese restaurant</translate></p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 7 Boulevard de la Ferrage, 06400 Cannes</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 93 39 55 70</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://www.wasabidazur.com" target="_blank">www.wasabidazur.com</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Le siecle D’or</div>
            <div class="panel-body">
                <p><i class="fa fa-info" aria-hidden="true"></i> <translate>Chinese restaurant</translate></p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 85 Allée Louis Bleriot, 06210 Mandelieu-la-Napoule</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 93 90 99 09 </p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                   /
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">L’Escale de Chine</div>
            <div class="panel-body">
                <p><i class="fa fa-info" aria-hidden="true"></i> <translate>Chinese restaurant</translate></p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Rue Jean jaurès, 06400 Cannes</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 93 99 15 99</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://www.escaledechine.fr" target="_blank">www.escaledechine.fr</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Le Mabrouk</div>
            <div class="panel-body">
                <p><i class="fa fa-info" aria-hidden="true"></i> <translate>Moroccan restaurant</translate></p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 143 Rue Laurent Gandolphe, 06210 Mandelieu-La-Napoule</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 93 93 06 06</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://www.restaurant-lemabrouk.fr/fr" target="_blank">www.restaurant-lemabrouk.fr/fr</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Aux Palmiers</div>
            <div class="panel-body">
                <p><i class="fa fa-info" aria-hidden="true"></i> <translate>Moroccan restaurant</translate></p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 24 Avenue de la Roubine, 06150 Cannes</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 93 49 78 44 </p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    /
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">I-Sushi</div>
            <div class="panel-body">
                <p><i class="fa fa-info" aria-hidden="true"></i> <translate>Sushi</translate></p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 27 Rue Laurent Gandolphe, 06210 Mandelieu-La-Napoule</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 93 47 00 00</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://www.i-sushi.eu" target="_blank">www.i-sushi.eu</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Punjab</div>
            <div class="panel-body">
                <p><i class="fa fa-info" aria-hidden="true"></i> <translate>Indian restaurant</translate></p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 27 Rue du Suquet, 06400 Cannes</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 93 99 88 38</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="https://eater.space/punjab-cannes" target="_blank">eater.space/punjab-cannes</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Le Jaipur</div>
            <div class="panel-body">
                <p><i class="fa fa-info" aria-hidden="true"></i> <translate>Indian restaurant</translate></p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 18 Rue Marechal Joffre, 06400 Cannes</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 22 10 34 11</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    /
                </p>
            </div>
        </div>
    </div>
</div>