<h1 translate>Lounge bar</h1>
<div class="row">
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">La plage </div>
            <div class="panel-body">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 100 Avenue du Général de Gaulle, 06210 Mandelieu-la-Napoule</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 06 20 69 30 00 </p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://www.la-plage-mandelieu.com/" target="_blank">www.la-plage-mandelieu.com</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Le lagon</div>
            <div class="panel-body">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 930 Avenue de la mer, 06210 Mandelieu</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 93 50 27 53 </p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="https://www.lagonmandelieu.com/" target="_blank">www.lagonmandelieu.com</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">O’Sullivans</div>
            <div class="panel-body">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 336 Avenue Henry Clews, 06210 Mandelieu-la-Napoule</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 93 49 95 36 </p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://www.osullivans-pubs.com/bar/osullivans-by-the-beach/" target="_blank">www.osullivans-pubs.com/bar/osullivans-by-the-beach/</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Byron</div>
            <div class="panel-body">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 49 Rue Félix Faure, 06400 Cannes</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 93 68 56 36 </p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    /
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Le Jardin Secret</div>
            <div class="panel-body">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 2 Rue des Frères, 06400 Cannes</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 93 38 72 63</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    /
                </p>
            </div>
        </div>
    </div>
</div>