<h1 translate>Sea products</h1>
<div class="row">
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">La Brocherie</div>
            <div class="panel-body">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Port de Mandelieu, 11 Avenue Henry Clews, 06210 Mandelieu-la-Napoule</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 93 49 80 73 </p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="https://www.restaurantlabrocherie.com" target="_blank">www.restaurantlabrocherie.com</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">La palmea</div>
            <div class="panel-body">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 198 Avenue Henri Clews, 06210 Mandelieu La Napoule</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 92 19 22 50 </p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://www.restaurant-palmea.com/index.html" target="_blank">www.restaurant-palmea.com/index.html</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">La voile bleue</div>
            <div class="panel-body">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Port de Mandelieu, 06210 Mandelieu-la-Napoule</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 93 49 80 60 </p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="http://www.lavoilebleue06210.com/" target="_blank">www.lavoilebleue06210.com</a>
                </p>
            </div>
        </div>
    </div>
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Astoux & Brun</div>
            <div class="panel-body">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 27 Rue Felix Faure, 06400 Cannes</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> 04 93 39 21 87 </p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="https://www.astouxbrun.com" target="_blank">www.astouxbrun.com</a>
                </p>
            </div>
        </div>
    </div>
</div>