<h1 translate>Escape games</h1>

<div class="row">
    <div class=" col-md-6">
        <div class="panel panel-default escape-panel">
            <div class="panel-heading">Curious world</div>
            <div class="panel-body">
                <h3 translate>Rates</h3>
                <table class="table table-responsive table-striped">
                    <tbody>
                    <tr>
                        <td>3
                            <translate>players</translate>
                        </td>
                        <td class="text-right">€ 30,00/
                            <translate>person</translate>
                        </td>
                    </tr>
                    <tr>
                        <td>4
                            <translate>players</translate>
                        </td>
                        <td class="text-right">€ 25,00/
                            <translate>person</translate>
                        </td>
                    </tr>
                    <tr>
                        <td>5
                            <translate>players</translate>
                        </td>
                        <td class="text-right">€ 24,00/
                            <translate>person</translate>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <h3 translate>Address</h3>
                <p>Chemin de la Bastide Rouge, 06150 Cannes</p>
                <p>
                    <translate>Tel.</translate>
                    : 09 54 40 76 27
                </p>

                <h3 translate>Website</h3>
                <p>
                    <a href="http://www.curiousworld.fr" target="_blank">www.curiousworld.fr</a>
                </p>
            </div>
        </div>
    </div>

    <div class=" col-md-6">
        <div class="panel panel-default escape-panel">
            <div class="panel-heading">Heyou Escape</div>
            <div class="panel-body">
                <h3 translate>Rates</h3>
                <table class="table table-responsive table-striped">
                    <tbody>
                    <tr>
                        <td>3 - 5
                            <translate>players</translate>
                        </td>
                        <td class="text-right">€ 19,00/
                            <translate>person</translate>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <h3 translate>Address</h3>
                <p>Rue du Pont Saint-Victor, 06400 Cannes</p>
                <p>
                    <translate>Tel.</translate>
                    : 07 68 06 87 11
                </p>

                <h3 translate>Website</h3>
                <p>
                    <a href="http://www.heyouescape.com" target="_blank">www.heyouescape.com</a>
                </p>
            </div>
        </div>
    </div>
</div>