<h1 translate>Guided visits</h1>

<div class="guided-visit">
    <h3 translate>Guided visits at Mandelieu – Tourist office Mandelieu</h3>
    <p translate>Essential nature</p>
</div>
<div class="guided-visit">
    <h3 translate>Visites guidées Cannes – Tourist office Cannes</h3>
    <ul>
        <li translate>Historical visit</li>
        <li translate>Cannes and the cinema</li>
        <li translate>La Croisette</li>
    </ul>
</div>
<div class="guided-visit">
    <h3 translate>The little touristic train</h3>
    <p translate>Departure at Palais des Festivals</p>
    <h4 translate>3 circuits</h4>
    <ul>
        <li translate>La promenade de la Croisette (35min)</li>
        <li translate>The historical Suquet (35min)</li>
        <li translate>Combination of the two tours (1h)</li>
    </ul>
</div>

<div class="escapegames">
    <h3 translate>CannesVisiTour with gyropodes</h3>

    <h4 translate>Address</h4>
    <p>Parking Laubeuf, 06400 Cannes</p>
    <p>
        <translate>Tel.</translate>
        : 06 25 94 55 94
    </p>

    <h4 translate>Website</h4>
    <p>
        <a href="http://www.cannesvisitour.com" target="_blank">www.cannesvisitour.com</a>
    </p>
</div>

<div class="escapegames">
    <h3 translate>Cannes You Taste – tasting tour</h3>

    <h4 translate>Address</h4>
    <p>9 Chemin de Garibondy, 06150 Cannes</p>
    <p>
        <translate>Tel.</translate>
        : 06 63 17 44 93
    </p>

    <h4 translate>Website</h4>
    <p>
        <a href="http://www.cannesyoutaste.com" target="_blank">www.cannesyoutaste.com</a>
    </p>
</div>

<div class="escapegames">
    <h3 translate>Visit of the oil Mill</h3>

    <h4 translate>Address</h4>
    <p>138, route de Draguignan, Grasse</p>
    <p>
        <translate>Tel.</translate>
        : 04 93 70 21 42
    </p>

    <h4 translate>Website</h4>
    <p>
        <a href="http://www.huilerie-sainte-anne.com" target="_blank">www.huilerie-sainte-anne.com</a>
    </p>
</div>

<div class="escapegames">
    <h3 translate>Vineyard in Provence: guided tour of the cellar + wine tasting</h3>

    <h4 translate>Address</h4>
    <p>RD 37 – Lieu-dit- Sainte-Brigitte – 1609, route de Malpasset</p>
    <p>
        <translate>Tel.</translate>
        : 04 94 52 80 51
    </p>

    <h4 translate>Website</h4>
    <p>
        <a href="http://www.jas-des-oliviers.com" target="_blank">www.jas-des-oliviers.com</a>
    </p>
</div>