<h1 translate>Spa</h1>

<div class="row">
    <div class=" col-md-6">
        <div class="panel panel-default spa-panel">
            <div class="panel-heading">Thermes Marins de Cannes</div>
            <div class="panel-body">
                <h3 translate>Address</h3>
                <p>47 Rue Georges Clemenceau, 06400 Cannes</p>
                <p>
                    <translate>Tel.</translate>
                    : 04 92 99 50 10
                </p>

                <h3 translate>Website</h3>
                <p>
                    <a href="http://www.m.lesthermesmarins-cannes.com/fr/" target="_blank">www.m.lesthermesmarins-cannes.com/fr/</a>
                </p>
            </div>
        </div>
    </div>

    <div class=" col-md-6">
        <div class="panel panel-default spa-panel">
            <div class="panel-heading">Spa Montaigne</div>
            <div class="panel-body">
                <h3 translate>Address</h3>
                <p>4 Rue Montaigne, 06400 Cannes</p>

                <h3 translate>Website</h3>
                <p>
                    <a href="http://www.spa-montaigne-cannes.com" target="_blank">www.spa-montaigne-cannes.com</a>
                </p>
            </div>
        </div>
    </div>
</div>