<h1 translate>Golf resort</h1>

<div class="row">
    <div class=" col-md-6">
        <div class="panel panel-default golf-panel">
            <div class="panel-heading">Golf Club de Cannes Mandelieu</div>
            <div class="panel-body">
                <h3 translate>Opening hours</h3>
                <p translate>Open the whole year</p>

                <h3 translate>Rates</h3>
                <table class="table table-responsive table-striped">
                    <tbody>
                    <tr>
                        <td translate>Green-fee (18 holes)</td>
                        <td class="text-right">€ 65,00</td>
                    </tr>
                    <tr>
                        <td translate>Green-fee (9 holes)</td>
                        <td class="text-right">€ 50,00</td>
                    </tr>
                    </tbody>
                </table>

                <h3 translate>Address</h3>
                <p>265 Route du Golf, 06210 Mandelieu La Napoule</p>
                <p>
                    <translate>Tel.</translate>
                    : 04 92 97 32 00
                </p>

                <h3 translate>Website</h3>
                <p>
                    <a href="http://www.golfoldcourse.com" target="_blank">www.golfoldcourse.com</a>
                </p>
            </div>
        </div>
    </div>

    <div class=" col-md-6">
        <div class="panel panel-default golf-panel">
            <div class="panel-heading">Riviera Golf de Barbossi</div>
            <div class="panel-body">
                <h3 translate>Opening hours</h3>
                <p translate>Open the whole year</p>

                <h3 translate>Rates</h3>
                <table class="table table-responsive table-striped">
                    <tbody>
                    <tr>
                        <td translate>Green-fee (18 holes)</td>
                        <td class="text-right">€ 98,00</td>
                    </tr>
                    <tr>
                        <td translate>Carnets de 12 green-fees</td>
                        <td class="text-right">€ 900,00</td>
                    </tr>
                    <tr>
                        <td translate>Carnets de 6 green-fees</td>
                        <td class="text-right">€ 480,00</td>
                    </tr>
                    </tbody>
                </table>

                <h3 translate>Address</h3>
                <p>Avenue des Amazones, 06210 Mandelieu La Napoule</p>
                <p>
                    <translate>Tel.</translate>
                    : 04 92 97 49 49
                </p>

                <h3 translate>Website</h3>
                <p>
                    <a href="http://www.domainedebarbossi.fr" target="_blank">www.domainedebarbossi.fr</a>
                </p>
            </div>
        </div>
    </div>

    <div class=" col-md-6">
        <div class="panel panel-default golf-panel">
            <div class="panel-heading">Le Provençal Golf</div>
            <div class="panel-body">
                <h3 translate>Address</h3>
                <p>95 Avenue Roumanille, 06410 Biot</p>
                <p>
                    <translate>Tel.</translate>
                    : 04 93 00 00 57
                </p>

                <h3 translate>Website</h3>
                <p>
                    <a href="https://www.leprovencalgolf.com/fr/le-golf,12.html" target="_blank">www.leprovencalgolf.com/fr/le-golf,12.html</a>
                </p>
            </div>
        </div>
    </div>

    <div class=" col-md-6">
        <div class="panel panel-default golf-panel">
            <div class="panel-heading">Golf Opio Valbonne</div>
            <div class="panel-body">
                <h3 translate>Address</h3>
                <p>Route de Roquefort, 06650 Opio</p>
                <p>
                    <translate>Tel.</translate>
                    : 04 93 12 00 08
                </p>

                <h3 translate>Website</h3>
                <p>
                    <a href="http://www.chateau-begude.com/fr/page/golfs-opio.19.html" target="_blank">www.chateau-begude.com/fr/page/golfs-opio.19.html</a>
                </p>
            </div>
        </div>
    </div>
</div>