<h1 class="text-center">Information touristique</h1>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://static.pexels.com/photos/34171/pexels-photo.jpg" alt="Transports en commun">
            <div class="caption">
                <h3 class="text-center"><a ui-sref="public-transportation">Transports en commun</a> </h3>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://static.pexels.com/photos/34171/pexels-photo.jpg" alt="Transports en commun">
            <div class="caption">
                <h3 class="text-center"><a ui-sref="touristic-information">Transports en commun</a> </h3>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://static.pexels.com/photos/34171/pexels-photo.jpg" alt="Transports en commun">
            <div class="caption">
                <h3 class="text-center"><a ui-sref="touristic-information">Transports en commun</a> </h3>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://static.pexels.com/photos/34171/pexels-photo.jpg" alt="Transports en commun">
            <div class="caption">
                <h3 class="text-center"><a ui-sref="touristic-information">Transports en commun</a> </h3>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://static.pexels.com/photos/34171/pexels-photo.jpg" alt="Transports en commun">
            <div class="caption">
                <h3 class="text-center"><a ui-sref="touristic-information">Transports en commun</a> </h3>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://static.pexels.com/photos/34171/pexels-photo.jpg" alt="Transports en commun">
            <div class="caption">
                <h3 class="text-center"><a ui-sref="touristic-information">Transports en commun</a> </h3>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://static.pexels.com/photos/34171/pexels-photo.jpg" alt="Transports en commun">
            <div class="caption">
                <h3 class="text-center"><a ui-sref="touristic-information">Transports en commun</a> </h3>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://static.pexels.com/photos/34171/pexels-photo.jpg" alt="Transports en commun">
            <div class="caption">
                <h3 class="text-center"><a ui-sref="touristic-information">Transports en commun</a> </h3>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://static.pexels.com/photos/34171/pexels-photo.jpg" alt="Transports en commun">
            <div class="caption">
                <h3 class="text-center"><a ui-sref="touristic-information">Transports en commun</a> </h3>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://static.pexels.com/photos/34171/pexels-photo.jpg" alt="Transports en commun">
            <div class="caption">
                <h3 class="text-center"><a ui-sref="touristic-information">Transports en commun</a> </h3>

            </div>
        </div>
    </div>
</div>