<h1 class="text-center" translate>To see – To discover</h1>

<h2>Mandelieu-la-Napoule</h2>
<ul>
    <li>San Peyre</li>
    <li translate>Swimming with dolphins</li>
    <li translate>The beach</li>
    <li>Mandelieu Fun Sport</li>
</ul>

<h2>Cannes</h2>
<h3 translate>Shopping</h3>
<p translate>List of ten luxury shops:</p>
<ul>
    <li>Bulgari</li>
    <li>Emporio Armani</li>
    <li>Wolford</li>
    <li>Yves Saint Laurent</li>
    <li>Cartier</li>
    <li>Christian Dior</li>
    <li>Christian Lacroix</li>
    <li>Céline</li>
    <li>Thierry Mugler</li>
    <li>Gianfranco Ferré</li>
</ul>

<h2>Grasse</h2>
<ul>
    <li>Cathédrale Notre Dame du Puy</li>
    <li>Musée Fragonard</li>
    <li>Gorges du Loup</li>
    <li>Musée international de la Parfumerie</li>
    <li>Villa Fragonard</li>
    <li>Librairie Expression</li>
    <li>Musée du Bijou et du Costume Provençal</li>
    <li>Domaine de La Royrie</li>
</ul>

<h2>Eze</h2>
<ul>
    <li>Le Jardin exotique d’Eze</li>
    <li>Vieux Eze</li>
    <li>Deli’</li>
    <li>Nietzsche Path</li>
    <li>Eglise Notre Dame de l’Assomption</li>
    <li>Fort de la Revère</li>
    <li>Usine et Musée Galimard</li>
    <li>Ruines du Village du Mont Bastide</li>
</ul>

<h2>St-Tropez</h2>
<ul>
    <li>Escalet Beach</li>
    <li>Citadelle de Saint-Tropez – Musée d’histoire maritime</li>
    <li>St. Tropez Harbor</li>
    <li>Musée de la Gendarmerie et du Cinéma</li>
    <li>Cap Camarat</li>
    <li>Place des Lices Market</li>
    <li>Musée de l’Annonciade</li>
</ul>

<h2>Menton</h2>
<ul>
    <li>Old Château Cemetery</li>
    <li>Basilica St. Michel</li>
    <li>Les Jardins Biovès</li>
    <li>Musée Jean Cocteau Collection Severin Wunderman</li>
    <li>Visite Confiturerie Herbin</li>
    <li>Jardin Botanique et Exotique Val Rahmeh</li>
    <li>Palmes Beach</li>
</ul>

<h2>Monaco</h2>
<ul>
    <li>Vieux Monaco</li>
    <li>Princess Grace Botanical Garden</li>
    <li>Saint Nicholas Cathedral</li>
    <li>Palais du Prince</li>
    <li>Place du Palais</li>
    <li>Saint-Martin Gardens</li>
    <li>Palais de justice de Monaco</li>
</ul>

<h2>St Paul de Vence</h2>
<ul>
    <li>Fondation Maeght</li>
    <li>La Chapelle des Penitents Blancs</li>
    <li>La Petite Cave de Saint Paul</li>
    <li>La Collegiale de la Conversion de st-Paul</li>
    <li>Local History Museum</li>
</ul>

<h2>Antibes</h2>
<ul>
    <li>Le Sentier du Littoral, Cap d’Antibes</li>
    <li>Port Vauban</li>
    <li>Le Nomade</li>
    <li>Musee Picasso</li>
    <li>Juan les Pins Main Beach</li>
    <li>Phare de la Garoupe</li>
    <li>Marineland</li>
    <li>Fort Carré</li>
    <li>Parc de la Pinède</li>
</ul>

<h2>St Jean Cap Ferrat</h2>
<ul>
    <li>Villa et Jardins Ephrussi de Rothschild</li>
    <li>Saint Jean-Cap-Ferrat Hike</li>
    <li>Paloma Beach</li>
    <li>La Pointe de Saint Hospice</li>
    <li>Villa Santo Sospir</li>
    <li>Musée des Coquillages</li>
</ul>

<h2 translate>The 8 villages in Fayence</h2>
<ul>
    <li>Saint-Paul-en-Forêt</li>
    <li>Montauroux</li>
    <li>Tanneron</li>
    <li>Tourrettes</li>
    <li>Seillans</li>
    <li>Mons</li>
    <li>Callian</li>
    <li>Fayence</li>
</ul>