$brand-primary: #5f255f;
$headings-color: $brand-primary;
$navbar-default-color: white;
$navbar-default-bg: $brand-primary;

// Navbar links
$navbar-default-link-color: white !default;
$navbar-default-link-hover-color: white !default;
$navbar-default-link-hover-bg: transparent !default;
$navbar-default-link-active-color: white !default;
$navbar-default-link-active-bg: darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color: #ccc !default;
$navbar-default-link-disabled-bg: transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg: $brand-primary !default;
$navbar-default-toggle-icon-bar-bg: white !default;
$navbar-default-toggle-border-color: $brand-primary !default;

//Panels
$panel-default-heading-bg: $brand-primary;
$panel-default-border: $brand-primary;

@import '{reywood:bootstrap3-sass}/bootstrap';

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.navbar-brand {
  padding: 0;
}

.panel-default > .panel-heading {
  color: white;
}

.panel-body {
  overflow: hidden;
}

a {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

#page {
  padding-top: 50px;
}

.museum-panel {
  min-height: 730px;
}

.castle-panel {
  min-height: 770px;
}