<h1 translate>Islands</h1>

<div class="island">
    <h2>Ile Sainte Marguerite</h2>
    <h3 translate>Departure</h3>
    <table class="table table-responsive table-striped">
        <tbody>
        <tr>
            <td translate>Morning</td>
            <td class="text-right">7h30-09h00-09h30-10h00-10h30-11h00-11h30-12h00—12h30</td>
        </tr>
        <tr>
            <td translate>Afternoon</td>
            <td class="text-right">13h00-13h30-14h00-14h30-15h00-15h30-16h00-16h30</td>
        </tr>
        </tbody>
    </table>

    <h3 translate>Returns</h3>
    <table class="table table-responsive table-striped">
        <tbody>
        <tr>
            <td translate>Morning</td>
            <td class="text-right">7h45-9h15-10h15-11h45-12h45</td>
        </tr>
        <tr>
            <td translate>Afternoon</td>
            <td class="text-right">13h15-14h15-15h15-16h15-17h00-18h00</td>
        </tr>
        </tbody>
    </table>

    <h3 translate>Rates</h3>
    <table class="table table-responsive table-striped">
        <tbody>
        <tr>
            <td translate>Adults</td>
            <td class="text-right">€ 14.50</td>
        </tr>
        <tr>
            <td translate>Children (5-10 year)</td>
            <td class="text-right">€ 9.50</td>
        </tr>
        <tr>
            <td translate>Children (-5 year)</td>
            <td class="text-right" translate>Free</td>
        </tr>
        <tr>
            <td translate>Group (10 persons)</td>
            <td class="text-right">€ 13,50 <translate>per person</translate></td>
        </tr>
        </tbody>
    </table>

    <h3 translate>Website</h3>
    <p>
        <a href="http://www.cannes-ilesdelerins.com" target="_blank">www.cannes-ilesdelerins.com</a>
    </p>
</div>

<div class="island">
    <h2>Ile saint Honorat</h2>
    <h3 translate>Departure</h3>
    <table class="table table-responsive table-striped">
        <tbody>
        <tr>
            <td translate>Morning</td>
            <td class="text-right">8h-9h-10h-11h-12h</td>
        </tr>
        <tr>
            <td translate>Afternoon</td>
            <td class="text-right">13h-14h-16h-17h-18h</td>
        </tr>
        </tbody>
    </table>

    <h3 translate>Returns</h3>
    <table class="table table-responsive table-striped">
        <tbody>
        <tr>
            <td translate>Morning</td>
            <td class="text-right">8h30-9h30-10h30-11h30-12h30</td>
        </tr>
        <tr>
            <td translate>Afternoon</td>
            <td class="text-right">13h30-14h30-15h30-16h30-17h30-18h30</td>
        </tr>
        </tbody>
    </table>

    <h3 translate>Rates</h3>
    <table class="table table-responsive table-striped">
        <tbody>
        <tr>
            <td translate>Adults</td>
            <td class="text-right">€ 14.00</td>
        </tr>
        <tr>
            <td translate>Reduced price</td>
            <td class="text-right">€ 13.00</td>
        </tr>
        <tr>
            <td translate>Children (5-10 year)</td>
            <td class="text-right">€ 7.50</td>
        </tr>
        <tr>
            <td translate>Children (-5 year)</td>
            <td class="text-right" translate>Free</td>
        </tr>
        <tr>
            <td translate>Group</td>
            <td class="text-right">€ 13,00 <translate>per person</translate></td>
        </tr>
        </tbody>
    </table>

    <h3 translate>Website</h3>
    <p>
        <a href="http://www.cannes-ilesdelerins.com " target="_blank">www.cannes-ilesdelerins.com </a>
    </p>
</div>