<h1 translate>Mountains</h1>

<div class="mountain">
    <h2>The train of Pignes</h2>

    <h3 translate>Address</h3>
    <p>Gare des Chemins de Fer de Provence, 4 B rue Alfred Binet, 06000 Nice</p>
    <p><translate>Tel.</translate>: 04 97 03 80 80</p>

    <h3 translate>Website</h3>
    <p>
        <a href="http://trainprovence.com/accueil/ " target="_blank">trainprovence.com/accueil</a>
    </p>
</div>

<div class="mountain">
    <h2>L’Esquillon</h2>

    <h3 translate>Characteristics</h3>
    <ul>
        <li><translate>Distance</translate>: 4,5km</li>
        <li><translate>Time</translate>: 2h</li>
        <li><translate>Level</translate>: <translate>medium</translate></li>
    </ul>

    <h3 translate>Access</h3>
    <ul>
        <li><translate>Car</translate>: <translate>Between Théoule/mer and St Raphael, at 17km from the city center of Cannes</translate></li>
        <li><translate>Bus</translate>: <translate>Departure from SNCF de Mandelieu, take bus n°620 (Ligne d’Azur) stop « L’Esquillon »</translate></li>
        <li><translate>Train</translate>: <translate>Stop « Gare de Mandelieu » and take bus 620 (Ligne d’Azur)</translate></li>
    </ul>
</div>

<div class="mountain">
    <h2>Corniche de l’Estérel</h2>

    <h3 translate>Characteristics</h3>
    <ul>
        <li><translate>Distance</translate>: 12,6km</li>
        <li><translate>Time</translate>: 5h</li>
        <li><translate>Level</translate>: <translate>athletic</translate></li>
    </ul>

    <h3 translate>Access</h3>
    <ul>
        <li><translate>Car</translate>: <translate>Located at Théoule/mer, at 9km from the city center of Cannes</translate></li>
        <li><translate>Bus</translate>: <translate>Take bus n°20 (Palm Bus) stop « Balcon d’Azur », and take bus n°22 (Palm Bus) or bus n°620 (Ligne d’Azur) stop « Théoule Gare »</translate></li>
        <li><translate>Train</translate>: <translate>Stop « Gare de Théoule/mer »</translate></li>
    </ul>
</div>