<h1 translate>Parks and forests</h1>

<div class="row">
    <div class=" col-md-6">
        <div class="panel panel-default park-panel">
            <div class="panel-heading">Le Canal de la Siagne - Mandelieu</div>
            <div class="panel-body">
                <h3 translate>Characteristics</h3>
                <ul>
                    <li>
                        <translate>Distance</translate>
                        : 4,6km
                    </li>
                    <li>
                        <translate>Time</translate>
                        : 2h
                    </li>
                    <li>
                        <translate>Level</translate>
                        :
                        <translate>easy</translate>
                    </li>
                </ul>

                <h3 translate>Access for le Cannet</h3>
                <ul>
                    <li>
                        <translate>Car</translate>
                        :
                        <translate>Located in Cannet at 4km from the city center, take avenue Ziem and park at one of the parking lots</translate>
                    </li>
                    <li>
                        <translate>Bus</translate>
                        :
                        <translate>Take bus n°1 (Palm Bus), stop « Bonnard » and walk 25 minutes, take la rue St Sauveur and the stairs St Antoine (240 stairs)</translate>
                    </li>
                    <li>
                        <translate>Train</translate>
                        :
                        <translate>Stop « Gare de Cannes », bus n°1 (Palm Bus) and walk 25 minutes, take la rue St Sauveur and take the stairs St Antoine</translate>
                    </li>
                </ul>

                <h3 translate>Access for Mougins</h3>
                <ul>
                    <li>
                        <translate>Car</translate>
                        :
                        <translate>Located in Mougins, 7km from the city center of Cannes</translate>
                    </li>
                    <li>
                        <translate>Bus</translate>
                        :
                        <translate>Take bus n°630 ( Lignes d’Azur), stop « Qui vend bon »</translate>
                    </li>
                    <li>
                        <translate>Train</translate>
                        :
                        <translate>Stop « Gare de Cannes » , and take bus n°630 (Ligne d’Azur)</translate>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class=" col-md-6">
        <div class="panel panel-default park-panel">
            <div class="panel-heading">La Croix des Gardes – Point of view</div>
            <div class="panel-body">
                <h3 translate>Characteristics</h3>
                <ul>
                    <li>
                        <translate>Distance</translate>
                        : 5,5km
                    </li>
                    <li>
                        <translate>Time</translate>
                        : 1h30
                    </li>
                    <li>
                        <translate>Level</translate>
                        :
                        <translate>easy</translate>
                    </li>
                </ul>

                <h3 translate>Access</h3>
                <ul>
                    <li>
                        <translate>Car</translate>
                        :
                        <translate>Located in Cannes, 1km from the city center and take avenue Jean de Noailles</translate>
                    </li>
                    <li>
                        <translate>Bus</translate>
                        :
                        <translate>Take bus n°7A (Palm Bus), stop « Beauregard » and walk 5 minutes or take bus n°7 (Palm Bus), stop « Font de Veyre » and walk 10 minutes</translate>
                    </li>
                    <li>
                        <translate>Train</translate>
                        :
                        <translate>Stop « Gare de Cannes », bus n°7A at l’hôtel de ville, and walk 5min.</translate>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class=" col-md-6">
        <div class="panel panel-default park-panel">
            <div class="panel-heading">Le chemin des Douaniers – Cap d’Antibes</div>
            <div class="panel-body">
                <h3 translate>Characteristics</h3>
                <ul>
                    <li>
                        <translate>Distance</translate>
                        : 4,8km
                    </li>
                    <li>
                        <translate>Time</translate>
                        : 2h
                    </li>
                    <li>
                        <translate>Level</translate>
                        :
                        <translate>easy</translate>
                    </li>
                </ul>

                <h3 translate>Access</h3>
                <ul>
                    <li>
                        <translate>Car</translate>
                        :
                        <translate>Located between Antibes and Juan-les-Pins, 13km from the city center of Cannes</translate>
                    </li>
                    <li>
                        <translate>Bus</translate>
                        :
                        <translate>Take bus n°2 (Envibus) stop « Eden Roc » and walk 5 minutes</translate>
                    </li>
                    <li>
                        <translate>Train</translate>
                        :
                        <translate>Stop « Gare d’Antibes », and take bus n°2 (Envibus) and walk 5 minutes</translate>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class=" col-md-6">
        <div class="panel panel-default park-panel">
            <div class="panel-heading">Valmasque – Forest of Sophia Antipolis</div>
            <div class="panel-body">
                <h3 translate>Characteristics</h3>
                <ul>
                    <li>
                        <translate>Distance</translate>
                        : 10km
                    </li>
                    <li>
                        <translate>Time</translate>
                        : 3h
                    </li>
                    <li>
                        <translate>Level</translate>
                        :
                        <translate>easy</translate>
                    </li>
                </ul>

                <h3 translate>Access</h3>
                <ul>
                    <li>
                        <translate>Car</translate>
                        :
                        <translate>Located in Mougins, 8km from the city center of Cannes</translate>
                    </li>
                    <li>
                        <translate>Bus</translate>
                        :
                        <translate>Take bus n°630 (Ligne d’Azur), stop « La crémaillère », and take bus n°27 (bus Azur), stop « Jean Dehon »</translate>
                    </li>
                    <li>
                        <translate>Train</translate>
                        :
                        <translate>Stop « Gare de Cannes » and take bus n°630 (Ligne d’Azur) , take bus n°27 (Bus Azur)</translate>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class=" col-md-6">
        <div class="panel panel-default park-panel">
            <div class="panel-heading">Vaugrenier – Park nearby Sophie</div>
            <div class="panel-body">
                <h3 translate>Characteristics</h3>
                <ul>
                    <li>
                        <translate>Distance</translate>
                        : 8km
                    </li>
                    <li>
                        <translate>Time</translate>
                        : 2h30
                    </li>
                    <li>
                        <translate>Level</translate>
                        :
                        <translate>easy</translate>
                    </li>
                </ul>

                <h3 translate>Access</h3>
                <ul>
                    <li>
                        <translate>Car</translate>
                        :
                        <translate>Located between Antibes and Villeneuve-Loubet at 16 km from the city center of Cannes</translate>
                    </li>
                    <li>
                        <translate>Bus</translate>
                        :
                        <translate>Take bus n°200 (Ligne d’Azur), stop « Parc Vaugrenier »</translate>
                    </li>
                    <li>
                        <translate>Train</translate>
                        :
                        <translate>Stop « Gare de Biot » and walk 10 minutes</translate>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class=" col-md-6">
        <div class="panel panel-default park-panel">
            <div class="panel-heading">Tanneron – route du Mimosa</div>
            <div class="panel-body">
                <h3 translate>Characteristics</h3>
                <ul>
                    <li>
                        <translate>Distance</translate>
                        : 52km
                    </li>
                    <li>
                        <translate>Level</translate>
                        :
                        <translate>easy</translate>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class=" col-md-6">
        <div class="panel panel-default park-panel">
            <div class="panel-heading">Le San Peyre – Point of view Mandelieu</div>
            <div class="panel-body">
                <h3 translate>Characteristics</h3>
                <ul>
                    <li>
                        <translate>Distance</translate>
                        : 10km
                    </li>
                    <li>
                        <translate>Time</translate>
                        : 3h
                    </li>
                    <li>
                        <translate>Level</translate>
                        :
                        <translate>easy</translate>
                    </li>
                </ul>

                <h3 translate>Access</h3>
                <ul>
                    <li>
                        <translate>Car</translate>
                        :
                        <translate>Located at Mandelieu at 8km from the city center of Cannes, stop at the Castle de La Napoule</translate>
                    </li>
                    <li>
                        <translate>Bus</translate>
                        :
                        <translate>Take bus n°20 (Palm Bus), stop « Balcon d’Azur » and walk 5 minutes</translate>
                    </li>
                    <li>
                        <translate>Train</translate>
                        :
                        <translate>Stop « Gare de Mandelieu-La Napoule »</translate>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>