<h1 translate>Lake and rivers</h1>
<div class="row">
    <div class=" col-md-6">
        <div class="panel panel-default river-panel">
            <div class="panel-heading">Lake St Cassien</div>
            <div class="panel-body">
                <p>
                    <translate>Area</translate>
                    : 3,7km&sup2;
                </p>

                <h3 translate>Address</h3>
                <p>37 D, 83440 Tanneron</p>
            </div>
        </div>
    </div>

    <div class=" col-md-6">
        <div class="panel panel-default river-panel">
            <div class="panel-heading">Verdon lake St croix</div>
            <div class="panel-body">
                <p>
                    <translate>Area</translate>
                    : 22km&sup2;
                </p>

                <h3 translate>Address</h3>
                <p>Pont du Galetas/ Les Salles Sur Verdon, 83630 Sainte-Croix-du-Verdon</p>
            </div>
        </div>
    </div>
</div>