<h1 translate>Sensational sports</h1>
<h2 translate>Canoeing</h2>
<div class="row">
    <div class=" col-md-6">
        <div class="panel panel-default sport-panel">
            <div class="panel-heading">Planet Canyon</div>
            <div class="panel-body">
                <p translate>(Nearby Nice and Gorges du Verdon)<br> Located at the bridge on the Riolan located at the exit of the canyoning
                </p>
                <p>
                    <translate>Tel.</translate>
                    : 07 82 08 05 30
                </p>

                <h4 translate>Website</h4>
                <p>
                    <a href="http://planetcanyon.com" target="_blank">planetcanyon.com</a>
                </p>
            </div>
        </div>
    </div>

    <div class=" col-md-6">
        <div class="panel panel-default river-panel">
            <div class="panel-heading">Canyon Forest</div>
            <div class="panel-body">
                <p>26 Route de Grasse, 06270 Villeneuve-Loubet</p>
                <p>
                    <translate>Tel.</translate>
                    : 04 92 02 88 88
                </p>

                <h4 translate>Website</h4>
                <p>
                    <a href="http://www.canyonforest.com" target="_blank">www.canyonforest.com</a>
                </p>
            </div>
        </div>
    </div>
</div>
<h2 translate>Rafting</h2>
<div class="row">
    <div class=" col-md-6">
        <div class="panel panel-default river-panel">
            <div class="panel-heading">Planète Rivière Rafting</div>
            <div class="panel-body">
                <p>753 Avenue de la Colle, 06270 Villeneuve-Loubet</p>
                <p>
                    <translate>Tel.</translate>
                    : 06 60 30 75 29
                </p>

                <h4 translate>Website</h4>
                <p>
                    <a href="http://www.planete-riviere.com" target="_blank">www.planete-riviere.com</a>
                </p>
            </div>
        </div>
    </div>

    <div class=" col-md-6">
        <div class="panel panel-default river-panel">
            <div class="panel-heading">Canyoning Nice : Les Pirogues</div>
            <div class="panel-body">
                <p>13 Boulevard Mantega Righi, 06100 Nice</p>
                <p>
                    <translate>Tel.</translate>
                    : 06 63 25 49 97
                </p>

                <h4 translate>Website</h4>
                <p>
                    <a href="http://www.lespirogues.com" target="_blank">www.lespirogues.com</a>
                </p>
            </div>
        </div>
    </div>

    <div class=" col-md-6">
        <div class="panel panel-default river-panel">
            <div class="panel-heading">Via Ferrata Canyons de Lantosque</div>
            <div class="panel-body">
                <p>Lantosque / 06 – Alpes-Maritimes</p>
                <p>
                    <translate>Tel.</translate>
                    : 04 93 02 05 51
                </p>

                <h4 translate>Website</h4>
                <p>
                    <a href="http://www.viaferrata-fr.net/via-ferrata-111-Les-Canyons-de-Lantosque-Lantosque-Alpes-Maritimes.html" target="_blank">www.viaferrata-fr.net/via-ferrata-111-Les-Canyons-de-Lantosque-Lantosque-Alpes-Maritimes.html</a>
                </p>
            </div>
        </div>
    </div>
</div>
<h2 translate>Tree climbing</h2>
<div class="row">
    <div class=" col-md-6">
        <div class="panel panel-default river-panel">
            <div class="panel-heading">Camp trappeur</div>
            <div class="panel-body">
                <h4 translate>Opening hours</h4>
                <ul>
                    <li translate>Open every day in school vacancies from the 8th of April: 13h – 18h</li>
                    <li translate>And Wednesday, Saturday and Sunday, not during school vacancies: 13h-18h</li>
                </ul>

                <h4 translate>Address</h4>
                <p>450 Chemin du Beal, 06150 Cannes</p>
                <p>
                    <translate>Tel.</translate>
                    : 06 20 85 14 55
                </p>

                <h4 translate>Website</h4>
                <p>
                    <a href="http://www.okwide.fr/fr/8-OKWIDE_-_energy_camp/9-Camp_trappeur#_=_" target="_blank">www.okwide.fr/fr/8-OKWIDE_-_energy_camp/9-Camp_trappeur#_=_</a>
                </p>
            </div>
        </div>
    </div>
</div>

<h2 translate>Ski</h2>
<div class="row">
    <div class=" col-md-6">
        <div class="panel panel-default river-panel">
            <div class="panel-heading">Station de ski au Mercantour – Auron (ski et VTT)</div>
            <div class="panel-body">

                <h4 translate>Website</h4>
                <p>
                    <a href="http://www.auron.com" target="_blank">www.auron.com</a>
                </p>
            </div>
        </div>
    </div>
</div>