<h1 translate>Villas and castles</h1>
<div class="castle">
    <h2>Château de la Napoule</h2>
    <h3 translate>Opening hours</h3>
    <ul>
        <li>
            <translate>the 7th of February until the 7th of November:</translate>
            <ul>
                <li translate>Open from 10h-18h</li>
                <li translate>Guided visit : 11h30, 14h30, 15h30 and 16h30</li>
            </ul>
        </li>
        <li>
            <translate>The 8th of  November until the 10th of February:</translate>
            <ul>
                <li><translate>Weekend and school vacations:</translate>
                    <ul>
                        <li translate>Open from 10h until 17h</li>
                        <li translate>Guided visits: 11h30, 14h30, 15h30</li>
                    </ul>
                </li>
                <li><translate>During the week (not during school vacations):</translate>
                    <ul>
                        <li translate>Open from 14h -17h</li>
                        <li translate>Guided visits: 14h30, 15h30</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

    <h3 translate>Rates</h3>
    <h4 translate>Gardens</h4>
    <table class="table table-responsive table-striped">
        <tbody>
        <tr>
            <td translate>Gardens</td>
            <td class="text-right" translate>€ 3.50/person (Free entrance under the age of 7)</td>
        </tr>
        </tbody>
    </table>
    <h4 translate>Castle, guided visit</h4>
    <table class="table table-responsive table-striped">
        <tbody>
        <tr>
            <td translate>Full rate(adults)</td>
            <td class="text-right">€ 6.00</td>
        </tr>
        <tr>
            <td translate>Reduced rate</td>
            <td class="text-right">€ 4.00</td>
        </tr>
        <tr>
            <td translate>Groups</td>
            <td class="text-right">€ 4.00</td>
        </tr>
        <tr>
            <td translate>Under the age of 7</td>
            <td class="text-right" translate>Free</td>
        </tr>
        </tbody>
    </table>

    <h3 translate>Address</h3>
    <p>Château de La Napoule, Avenue Henry Clews, 06210 Mandelieu-La-Napoule</p>
    <p><translate>Tel.</translate>: 04 93 49 95 05</p>
</div>

<div class="castle">
    <h2>Villa Domergue in cannes</h2>

    <h3 translate>Address</h3>
    <p>14 Avenue Fiesole, 06400 Cannes</p>
    <p><translate>Tel.</translate>: 04 97 06 44 90</p>

    <h3 translate>Website</h3>
    <p>
        <a href="http://www.cannes.com/fr/cadre-de-vie/patrimoine/hotels-et-belles-demeures/villa-domergue.html" target="_blank">www.cannes.com/fr/cadre-de-vie/patrimoine/hotels-et-belles-demeures/villa-domergue.html</a>
    </p>
</div>

<div class="castle">
    <h2>Villa grecque Kerylos</h2>
    <h3 translate>Opening hours</h3>
    <ul>
        <li translate>From the 2nd of January until the 30th of April: Open every day from 10h00-17h00</li>
        <li translate>From the 2nd of May until the 31st of August: Open every day from 10h00-19h00</li>
        <li translate>From the 1st of September until the 31st of December: Open every day from 10h00-17h00</li>
    </ul>

    <h3 translate>Rates</h3>
    <table class="table table-responsive table-striped">
        <tbody>
        <tr>
            <td translate>Full price</td>
            <td class="text-right">€ 10,00</td>
        </tr>
        <tr>
            <td translate>Reduced price</td>
            <td class="text-right">€ 7,50</td>
        </tr>
        <tr>
            <td translate>Family offer</td>
            <td class="text-right" translate>Free entrance for the 2nd child (between 7 and 17 year)</td>
        </tr>
        </tbody>
    </table>

    <h3 translate>Address</h3>
    <p>Impasse Gustave Eiffel, 06310 Beaulieu-sur-Mer</p>
    <p><translate>Tel.</translate>: 04 93 01 01 44</p>

    <h3 translate>Website</h3>
    <p>
        <a href="http://www.villakerylos.fr" target="_blank">www.villakerylos.fr</a>
    </p>
</div>

<div class="castle">
    <h2>Villa et jardins Ephrussi de Rothschild</h2>
    <h3 translate>Opening hours</h3>
    <p><translate>Open every day, the whole year from10h -18h except:</translate></p>
    <ul>
        <li translate>July and August from 10h-19h</li>
        <li translate>From November until January: From Monday until Friday from 14h-18h / the weekends, from 10h-18h</li>
    </ul>

    <h3 translate>Rates</h3>
    <table class="table table-responsive table-striped">
        <tbody>
        <tr>
            <td translate>Full price</td>
            <td class="text-right">€ 12,00</td>
        </tr>
        <tr>
            <td><translate>Reduced price</translate>(<translate>children between 7-17 years and students</translate>)</td>
            <td class="text-right">€ 9,00</td>
        </tr>
        <tr>
            <td><translate>Reduced price</translate>(<translate>The 2nd child (between 7 and 17 year)</translate>)</td>
            <td class="text-right" translate>Free</td>
        </tr>
        <tr>
            <td translate>Children under the age of 7</td>
            <td class="text-right" translate>Free</td>
        </tr>
        </tbody>
    </table>
    <h4 translate>Pass 2 villas : Rothschild + Kérylos</h4>
    <table class="table table-responsive table-striped">
        <tbody>
        <tr>
            <td translate>Full price</td>
            <td class="text-right">€ 13,50</td>
        </tr>
        <tr>
            <td><translate>Reduced price</translate></td>
            <td class="text-right">€ 9,50</td>
        </tr>
        </tbody>
    </table>

    <h3 translate>Address</h3>
    <p>2 Avenue Ephrussi de Rothschild, 06230 Saint Jean Cap Ferrat</p>
    <p><translate>Tel.</translate>: 04 93 01 33 09</p>
</div>

<div class="castle">
    <h2>Villa Massena – Nice</h2>
    <h3 translate>Opening hours</h3>
    <p><translate>Every day except Tuesday from 10h - 18h</translate></p>

    <h3 translate>Rates</h3>
    <p translate>Free entrance</p>

    <h3 translate>Address</h3>
    <p>65, Rue de France, 06364 Nice cedex 4</p>
    <p><translate>Tel.</translate>: 04 93 91 19 10</p>
</div>