<h1 class="text-center" translate>Museums</h1>

<div class="row">
    <a ui-sref="all-museums">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/img/museums/museum.png" alt="{{'Museums'|translate}}">
                <div class="caption">
                    <h3 class="text-center" translate>Museums</h3>
                </div>
            </div>
        </div>
    </a>
    <a ui-sref="castles">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/img/museums/castle.png" alt="{{'Villas and castles'|translate}}">
                <div class="caption">
                    <h3 class="text-center" translate>Villas and castles</h3>
                </div>
            </div>
        </div>
    </a>
    <a ui-sref="artisanal">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/img/museums/artisanal.png" alt="{{'Artisanal visits'|translate}}">
                <div class="caption">
                    <h3 class="text-center" translate>Artisanal visits</h3>
                </div>
            </div>
        </div>
    </a>
</div>